    header {
      text-align: center;
      font: "Playfair Display SC",serif;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-stretch: normal;
    }
    .dogphoto {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      width: 250px;
    }  
    a {
      color: white;
      text-decoration: none;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.6);
    }
    h1 {
      font-size: 50px;
      text-transform: uppercase;
      background: rgba(0,0,0,0.6);
     }
    h2 {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
    }
    li {
      display: inline;
      padding: 0px 30px 0px 30px;
      font-size: 20px;
    }
    body {
      text-align: left;
      background: url('backround.jpe');
      background-size: cover; 
      color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      }    
    article {
      max-width: 1800px;
      padding: 16px;
      margin: 0 auto;
      background: rgba(0,0,0,0.6);
    }
    p {
      font-size: 20px;
    }
    .images {
      text-align: center;
   }
    .photos {
        display: inline-block;
        max-width:550px;
        max-height:250px;
        padding: 20px;
    }


    @media (max-width: 500px) {
      h1 {
        font-size: 30px;
      }
      li {
        display: block;
        padding: 5px;       
      }
    }
     .photos {
      max-width: 0 auto;
    }
  